<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     
     
      
      <bean id = "sa" class = "com.tca.bean.ServiceA">
         <property name = "serviceB" ref = "sb"/> 
         <property name = "serviceC" ref = "sc"/> 
      
      </bean>
      
       <bean id = "sb" class = "com.tca.bean.ServiceB">
         <constructor-arg name = "serviceC" ref = "sc"/>
      </bean>
      
      <bean id = "sc" class = "com.tca.bean.ServiceC">
      
         <constructor-arg name = "serviceA" ref = "sa"/>
      
      </bean>
</beans>