<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     
      <bean id = "addr" class = "com.tca.bean.Address">
           <property name = "city" value = "Pune"/>
           <property name = "pincode" value ="411033"/>
      </bean>
      
      <bean id = "customer" class = "com.tca.bean.Customer">
           <property name = "customerId" value = "101"/>
           <property name = "name" value = "Pravin Kshirsagar"/>
           <property name = "address" ref = "addr"/>
      </bean>
</beans>